  .box{margin-left: 10vw;margin-right: 10vw;margin-top: 3vh}

        .bttn{height: 8vh;
        padding-top:  2vh}

        .sortir{margin-left:2vw}

        .vw{color: orange}
        
 .msgg{margin-left: 16vw;
            margin-bottom: 31vh;
            padding:25px;
            text-align-last: center;
            font-size: 1.2em
            
        }
.m{margin-left: 20vw}
        .c{color: crimson}
        .bordered{width: 70%}
    
        td{height: 10vh}
    
        .aa{color: orange}

.msg{margin-left: 18vw;
    margin-right: 20vw;
    margin-top: 8vh;
    padding: 20px;
    padding-bottom: 10vh;
    font-size: 1.2em}

    textarea{
        resize: vertical;
        max-width: 40vw;
        min-height: 30vh;
    }

.envoi{margin-left: 20vw}

    i{margin-right: 1vw} 
      
    
        